// Place all the styles related to the ovens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen and (max-width: 768px) {
  .tiny {
    position: relative;
    top: 100px;
  }

  .prepare-cookie {
    position: relative;
    bottom: 40px;
  }
}
